[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = git://github.com/uggedal/puppet-module-postgresql.git
[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = git://github.com/uggedal/puppet-module-git.git
[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = git://github.com/uggedal/puppet-module-nginx.git
