/*
Syntax error: File to import not found or unreadable: compass/css3.
              Load paths:
                /Users/cassandraking/Desktop/WeAreTechWomen/app (DEPRECATED)
                /Users/cassandraking/Desktop/WeAreTechWomen/app/stylesheets
        on line 4 of stylesheets/desktop.scss

1: @import "config";
2: @import "mixins";
3: 
4: @import "compass/css3";
5: @import "960/grid";
6: 
7: @import "webfonts";
8: @import "transitions";
9: @import "border_radius";

Backtrace:
stylesheets/desktop.scss:4
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/import_node.rb:66:in `rescue in import'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/import_node.rb:45:in `import'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/stack.rb:121:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:151:in `visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/engine.rb:274:in `render'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/plugin/compiler.rb:371:in `update_stylesheet'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/plugin/compiler.rb:186:in `each'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.0/lib/sass/plugin/compiler.rb:284:in `block in watch'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/css3.\A               Load paths:\A                 /Users/cassandraking/Desktop/WeAreTechWomen/app (DEPRECATED)\A                 /Users/cassandraking/Desktop/WeAreTechWomen/app/stylesheets\A         on line 4 of stylesheets/desktop.scss\A \A 1: @import \"config\";\A 2: @import \"mixins\";\A 3: \A 4: @import \"compass/css3\";\A 5: @import \"960/grid\";\A 6: \A 7: @import \"webfonts\";\A 8: @import \"transitions\";\A 9: @import \"border_radius\";"; }
